<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>olens</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html"></a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="index.html">首页</a></li>
				<li><a href="#">新闻</a></li>
				<li><a href="#">体育</a></li>
				<li><a href="#">娱乐</a></li>
			</ul>

			<!--<div class="usercenter">-->
				<ul class="nav navbar-nav navbar-right">
					<li class=active><a href="{% url 'usercenter' %}">用户中心</a></li>
					<li><a href="{% url 'logout' %}">退出登录</a></li>
				</ul>
		    <!--</div>-->
            <div class="register">
				<ul class="nav navbar-nav navbar-right">
					<!--<li><a href="login.html">登录</a></li>-->
					<!--<li><a href="signup.html">注册</a></li>-->
					<!--<li><a href="{% url 'logout' %}">退出登录</a></li>-->

				</ul>
			</div>
	    </div>
	</div>
		<div class="container">
		    <div class="row">
				<div class="col-sm-3">
					<div class="list-group side-bar">
						<a href="{% url 'usercenter' %}" class="list-group-item active">个人信息</a>
					</div>
					<div class="list-group side-bar">
						<a href="{% url 'changepassword' %}" class="list-group-item active">修改密码</a>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="container container-small">

						<form method="POST" action="{% url 'changepassword' %}">
							{% csrf_token %}
							<div class="form-group">
								{{ form.original_password.error }}
								<label for="form.original_password.id_for_label">旧密码</label>
								{{ form.original_password }}
								<!--<input type="text" class="form-control">-->
							</div>
							<div class="form-group">
								{{ form.new_password1.error }}
								<label for="form.new_password1.id_for_label">新密码</label>
								{{ form.new_password1 }}
								<!--<input type="password" class="form-control">-->
							</div>
							<div class="form-group">
								{{ form.new_password2.error }}
								<label for="form.new_password2.id_for_label">确认新密码</label>
								{{ form.new_password2 }}
								<!--<input type="password" class="form-control">-->
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-block" type="submit">修改</button>
							</div>
							<span style="color: red">
								{{ form.non_field_errors  }}
							</span>
						</form>
					</div>

	            </div>
        </div>
			
		</div>
        </div>
</div>
<div class="footer">
	<p>© 2019 拴蛋头条 中国互联网举报中心京ICP证1401号京ICP备125439号-3京公网安备</p>
</div>

</body>
</html>